<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
  <targets async="false">
    <!--file target-->
    <target xsi:type="File" name="LogToFile"
            fileName="${basedir}/Logs/Service.log"
            layout="${date} | ${level:uppercase=true} | ${callsite} | ${message}${onexception:${newline}   EXCEPTION\: ${exception:format=ToString}"
            archiveAboveSize="1048576"
            archiveFileName="${basedir}/Logs/Archives/Service.{#####}.log"
            archiveNumbering="Rolling" />
    <!--end file target-->
    <!--console target-->
    <target xsi:type="ColoredConsole" name="LogToConsole"
            layout="${date} | ${level:uppercase=true} | ${message}${onexception:${newline}   EXCEPTION\: ${exception:format=ToString}}"
            useDefaultRowHighlightingRules="true" encoding="unicode" />
    <!--end console target-->
  </targets>

  <variable name="text" value="${message}" />
  <variable name="tags" value="${level}" />
  <variable name="user" value="${identity:authType=false:isAuthenticated=false}" />
  <variable name="source" value="${machinename}" />
  <variable name="br" value="&lt;br/&gt;" />
  <variable name="+b" value="&lt;b&gt;" />
  <variable name="-b" value="&lt;/b&gt;" />
  <variable name="ex-text" value="${message}: ${exception}" />
  <variable name="ex-data" value="@html${newline}${+b}Exception:${-b} ${exception}${br}${br}${+b}Stack Trace:${-b}${stacktrace}" />

  <rules>
    <logger name="*" minlevel="Trace" writeTo="LogToFile" />
    <logger name="*" minlevel="Trace" writeTo="LogToConsole" />
  </rules>
</nlog>
