@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <form method="post">

            <div><input type="text" name="Name" /></div>
            <div><textarea name="Description"></textarea></div>
            <div><input type="text" name="Price" /></div>
            <div><input type="text" name="Count" /></div>
            <div><input type="text" name="Name" /></div>
        </form>
    </div>
</body>
</html>
public int Id { get; set; }
        public System.DateTime Date_add { get; set; }
        public string Name { get; set; }
        public string Description { get; set; }
        public int Price { get; set; }
        public int Count { get; set; }
        public string Photo { get; set; }