@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        @foreach(var item in ViewBag.Categories)
        {
            <p>@item</p>
        }
    </div>
</body>
</html>
